<div class="row">
    <div class="col-lg-12">
    <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 file-box">
    <div class="file">
    <div class="icon"><a href="/2022-events"><img src="/uploads/isabella-and-zsa-fischer-FbLwzQ1bL98-unsplash.jpg" /> </a></div>

    <div class="file-name">2022 Event Gallery</div>
    </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 file-box">
    <div class="file">
    <div class="icon"><a href="/2022-events"><img src="/uploads/1670713241.jpg" /> </a></div>

    <div class="file-name">Best Day ever</div>
    </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 file-box">
    <div class="file">
    <div class="icon"><a href="/2022-events"><img src="/uploads/1671172336.jpg" /> </a></div>

    <div class="file-name">We here</div>
    </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 file-box">
    <div class="file">
    <div class="icon"><a href="/2022-events"><img src="/uploads/1670346363.jpg" /> </a></div>

    <div class="file-name">Text Gallery</div>
    </div>
    </div>
    </div>
    </div>
    </div>
